@font-face {
	font-family: Lato-Regular;
	src: url(./Lato/Lato-Regular.ttf);
}

* {
	font-family: Lato-Regular;
}

.wrapper {
	display: flex;
	justify-content: center;
	width: 50%;
	margin: auto;
	flex-wrap: wrap;
}

.cart-modal {
	background-color: rgba(56, 182, 217, 0.2);
	padding: 2px 20px;
	border-radius: 10px;
	border: 1px solid rgb(56, 182, 217);
}

.cart-item {
	display: flex;
	flex-wrap: wrap;
	border-top: 1px solid #707070;
	border-bottom: 1px solid #707070;
	width: 100%;
	padding: 0 15px;
}

.cart-title {
	display: flex;
	width: 80%;
	justify-content: space-between;
}

.cart-footer {
	display: flex;
	width: 80%;
	justify-content: space-between;
}

.price-div {
	height: 50px;
}

.product-image {
	max-width: 100px;
	max-height: 100px;
}

.price-text {
	display: inline-block;
}

.cart-title-text {
	font-size: 1.25em;
}
