@font-face {
	font-family: Lato-Regular;
	src: url(./Lato/Lato-Regular.ttf);
}

* {
	font-family: Lato-Regular;
}

.wrapper {
	display: flex;
	justify-content: center;
	width: 80%;
	margin: auto;
	flex-wrap: wrap;
}

.cart-modal {
	background-color: rgba(56, 182, 217, 0.2);
	padding: 2px 20px;
	border-radius: 10px;
	border: 1px solid rgb(56, 182, 217);
}

.cart-item {
	display: flex;
	flex-wrap: wrap;
	border-top: 1px solid #707070;
	border-bottom: 1px solid #707070;
	width: 80%;
	padding: 0 15px;
}

.cart-title {
	display: flex;
	width: 80%;
	justify-content: space-between;
}

.cart-footer {
	display: flex;
	width: 80%;
	justify-content: space-between;
}

.price-div {
	height: 50px;
}

.product-image {
	max-width: 100px;
	max-height: 100px;
}

.price-text {
	display: inline-block;
}

.cart-title-text {
	font-size: 1.25em;
}

.cart-wrap-items {
	display: flex;
	width: 100%;
	justify-content: space-around;
}

.cart-checkout-modal {
	min-width: 350px;
}

.cart-subtotal-text {
	display: inline-block;
	font-weight: bold;
	font-size: 20px;
}

.cart-checkout-text {
	display: inline-block;
}

.cart-checkout-text-wrap {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.cart-checkout-buttons {
	display: flex;
	width: 100%;
	justify-content: space-around;
}

.cart-continue-shopping-btn {
	border-radius: 4px;
	border: 1px solid rgba(112, 112, 112, 0.5);
	background-color: #fff;
	width: 45%;
	height: 30px;
	color: #707070;
	cursor: pointer;
}

.cart-checkout-btn {
	border-radius: 4px;
	border: 1px solid #d40606;
	background-color: #d40606;
	width: 50%;
	height: 30px;
	color: #fff;
	cursor: pointer;
}