@font-face {
	font-family: Lato-Regular;
	src: url(./Lato/Lato-Regular.ttf);
}

@font-face {
	font-family: Guerilla-Regular;
	src: url(./Guerilla/Guerilla-Regular.ttf);
}

::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}
::-webkit-scrollbar-button {
	width: 0px;
	height: 0px;
}
::-webkit-scrollbar-thumb {
	background: #7d7d7d;
	border: 0px none #ffffff;
	border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
	background: #7d7d7d;
}
::-webkit-scrollbar-thumb:active {
	background: #7d7d7d;
}
::-webkit-scrollbar-track {
	background: #a1a1a1;
	border: 0px none #ffffff;
	border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
	background: #a1a1a1;
}
::-webkit-scrollbar-track:active {
	background: #a1a1a1;
}
::-webkit-scrollbar-corner {
	background: transparent;
}

* {
	font-family: Lato-Regular;
}

body {
	margin: 0;
	padding: 0;
	background-color: #e9e9e9;
}

.colormodeswitch-light {
	color: #444444;
	cursor: pointer;
}

.colormodeswitch-dark {
	color: #fff;
	cursor: pointer;
}

.navbar {
    background-color: #444444;
    position: sticky;
    font-size: 2em;
	height: 75px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	font-size: 20px;
}	

.navbar-logo {
	height: 75px;
	width: 125px;
}

.navbar a, .responsive-nav a{
	font-style: none;
	text-decoration: none;
	color: #fff;
}

.navbar a.active, .responsive-nav a.active {
	text-decoration: underline;
}

.nav-hamburger {
	display: none !important;
	color: #fff;
	margin-right: 20px;
}

.responsive-nav {
	display: none;
}

@media screen and (max-width:768px) { 
	.nav-hamburger {
		cursor: pointer;
		display: flex !important;
	}

	.navbar a, .navbar i {
		display: none;
	}

	.navbar {
		justify-content: space-between;
	}

	.responsive-nav {
		align-items: center;
		flex-direction: column;
		position: absolute;
		right: 0;
		height: calc(100% - 75px);
		overflow-y: hidden;
		width: 300px;
		background-color: #444444;
		font-size: 2em;
	}

	.responsive-nav-container {
		height: 225px;
		display: flex;
		justify-content: space-evenly;
		align-items: flex-end;
		flex-direction: column;
	}
}

.wrapper {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items:center;
	width: 80%;
	margin: auto;
	flex-wrap: wrap;
}

footer {
    padding: 10px 0px;
    background: #666;
    color: #ffffff;
    position:relative;
    bottom: -30px;
    width: 100%;
	overflow: hidden;
}

.align-center {
    text-align: center;
}

.align-center>a {
	font-style: none;
	text-decoration: none;
	color: #fff;
	cursor: pointer;
}

.probleme{
	
	font-size:2em;
	
	
}

.Box{
	
	width:100px;
	
}

.label {
	font-size: 2em;
}

.support-type {
	display: block;
}

.other-type, .support-desc, .support-submit {
	display: none;
}